/* Original css for the reset function.-------------------------------------- */

.animation_Original {
  margin: 10px auto;
  border: 2px solid darkgreen;
  width: 60%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animation_Original div {
  background-color: palegreen;
  border: 2px solid darkgreen;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
}
/* CSS Helper Class - This is to maintain the above properties that should not to be changed.
This avoids repeating the properties within the individual change classes. ------*/

.animationChangeHelper {
  margin: 10px auto;
  border: 2px solid darkgreen;
  width: 60%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animationChangeHelper div {
  background-color: palegreen;
  border: 2px solid darkgreen;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
}

/* CSS Change Classes. -------------------------------------------------------*/

/* Animation Example 1: animation-name & animation-duration----*/
@keyframes colour_change {
  from {background-color: linen;}
  to {background-color: darkgreen;}
}
.animationChange_1 div {
  animation-name: colour_change;
  animation-duration: 5s
}
/* Animation Example 2: animation-name & animation-duration----*/
@keyframes colour_size_change {
  from {background-color: linen;
        }
  to   {background-color: darkgreen;
        width: 300px;
        }
}
.animationChange_2 div {
  animation-name: colour_size_change;
  animation-duration: 5s
}
/* Animation Example 3: animation-name & animation-duration----*/
@keyframes colour_size_change_2 {
  from {
        }
  to   {background-color: darkgreen;
        width: 300px;
        }
}
.animationChange_3 div {
  animation-name: colour_size_change_2;
  animation-duration: 5s
}
/* Animation Example 4: animation-name & animation-duration----*/
@keyframes colour_size_change_3 {
  0%   { background-color: linen; }
  33%  { background-color: palegreen; width: 300px; }
  66%  { background-color: darkgreen; width: 300px; }
  100% { height: 120px; }
}
.animationChange_4 div {
  animation-name: colour_size_change_3;
  animation-duration: 9s
}
/* Animation Example 5: animation-delay-------------------------*/
.animationChange_5 div {
  animation-name: colour_size_change_3;
  animation-duration: 9s;
  animation-delay: 3s;
}
/* Animation Example 6: animation-delay & animation-fill-mode----*/
.animationChange_6 div {
  animation-name: colour_size_change_3;
  animation-duration: 9s;
  animation-delay: -3s;
  animation-fill-mode: forwards;
}
/* Animation Example 7: animation-iteration-count----------------*/
@keyframes box_move {
  0%   { top: 0px;  left: 0px; }
  25%  { top: 0px;  left: 250px; }
  50%  { top: 45px; left: 250px; }
  75%  { top: 45px; left: 0px; }
  100% { top: 0px;  left: 0px; }
}
.animationChange_7 div {
  animation-name: box_move;
  animation-duration: 5s;
  position: relative;
  animation-iteration-count: 2;
}
/* Animation Example 8: animation-iteration-count----------------*/
.animationChange_8 div {
  animation-name: box_move;
  animation-duration: 5s;
  position: relative;
  animation-iteration-count: infinite;
}
/* Animation Example 9: animation-direction----------------------*/
.animationChange_9 div {
  animation-name: box_move;
  animation-duration: 5s;
  position: relative;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* Animation Example 10: animation-timing-function-----------------*/
.animationChange_10 div {
  animation-name: box_move;
  animation-duration: 5s;
  position: relative;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
