/* Original css for the reset function.-------------------------------------- */

.display_Original {
  margin: 10px auto;
  border: 2px solid darkgreen;
  width: 60%;
  height: 300px;
}
.display_Original div {
  margin: 5px auto;
  width: 30%;
  height: 10%;
  background-color: palegreen;
  border: 2px solid darkgreen;
  font-size: 1.5em;
  text-align: center;
}
.display_Original span {
  font-size: 1.5em;
}

/* CSS Helper Class - This is to maintain the above properties that should not to be changed.
This avoids repeating the properties within the individual change classes. ------*/

.displayChangeHelper {
  margin: 10px auto;
  border: 2px solid darkgreen;
  width: 60%;
  height: 300px;
}
.displayChangeHelper div {
  margin: 5px auto;
  width: 30%;
  height: 10%;
  background-color: palegreen;
  border: 2px solid darkgreen;
  font-size: 1.5em;
  text-align: center;
}
.displayChangeHelper span {
  font-size: 1.5em;
}

/* CSS Change Classes. -------------------------------------------------------*/

/* The Display Property Example 1: inline*/
.displayChange_1 div {
  display: inline;
 }
/* The Display Property Example 2: block*/
.displayChange_2 span {
  display: block;
 }
/* The Display Property Example 3: none*/
.displayChange_3 div {
  display: none;
 }
/* The Display Property Example 4: none*/
.displayChange_4 span {
  display: none;
 }
/* The Display Property Example 5: visibility: hidden*/
.displayChange_5 div {
  visibility: hidden;
 }
/* The Display Property Example 6: visibility: hidden*/
.displayChange_6 span {
  visibility: hidden;
 }
