/* Original css for the reset function.-------------------------------------- */

.grid_Original {
  margin: 10px auto;
  border: 2px solid darkgreen;
  width: 60%;
  height: 300px;
}
.grid_Original div {
  background-color: palegreen;
  border: 2px solid darkgreen;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
}
/* CSS Helper Class - This is to maintain the above properties that should not to be changed.
This avoids repeating the properties within the individual change classes. ------*/

.gridChangeHelper {
  margin: 10px auto;
  border: 2px solid darkgreen;
  width: 60%;
  height: 300px;
}
.gridChangeHelper div {
  background-color: palegreen;
  border: 2px solid darkgreen;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
}

/* CSS Change Classes. -------------------------------------------------------*/

/* Grid Example 1: grid-template-columns----*/
.gridChange_1 {
  display: grid;
  grid-template-columns: auto auto;
 }
/* Grid Example 2: grid-template-columns----*/
.gridChange_2 {
  display: grid;
  grid-template-columns: auto auto auto;
 }
/* Grid Example 3: grid-template-columns----*/
.gridChange_3 {
  display: grid;
  grid-template-columns: 150px 150px;
 }
/* Grid Example 4: grid-template-columns----*/
.gridChange_4 {
  display: grid;
  grid-template-columns: 150px 150px auto;
 }
/* Grid Example 5: grid-template-rows----*/
.gridChange_5 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 60px auto;
 }
/* Grid Example 6: grid-template-rows----*/
.gridChange_6 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 60px 180px auto;
 }
/* Grid Example 7: grid-column-gap----*/
.gridChange_7 {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
 }
/* Grid Example 8: grid-row-gap----*/
.gridChange_8 {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 50px;
 }
/* Grid Example 9: grid-gap----*/
.gridChange_9 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
 }
/* Grid Example 10: grid-gap----*/
.gridChange_10 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px 100px;
 }
/* Grid Example 11: justify-content----*/
.gridChange_11 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: space-evenly;
 }
/* Grid Example 12: justify-content----*/
.gridChange_12 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: space-around;
 }
/* Grid Example 13: justify-content----*/
.gridChange_13 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: space-between;
 }
/* Grid Example 14: justify-content----*/
.gridChange_14 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
 }
/* Grid Example 15: justify-content----*/
.gridChange_15 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: start;
 }
/* Grid Example 16: justify-content----*/
.gridChange_16 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: end;
 }
/* Grid Example 17: align-content----*/
.gridChange_17 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  align-content: space-evenly;
 }
/* Grid Example 18: align-content----*/
.gridChange_18 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  align-content: space-around;
 }
/* Grid Example 19: align-content----*/
.gridChange_19 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  align-content: space-between;
 }
/* Grid Example 20: align-content----*/
.gridChange_20 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  align-content: center;
 }
/* Grid Example 21: align-content----*/
.gridChange_21 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  align-content: start;
 }
/* Grid Example 22: align-content----*/
.gridChange_22 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  align-content: end;
 }
/* Grid Example 23: align-content & justify-content----*/
.gridChange_23 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  align-content: center;
  justify-content: center;
 }
/* Grid Example 24: align-content & justify-content----*/
.gridChange_24 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  align-content: space-evenly;
  justify-content: space-evenly;
 }

 /* Grid Example 25: grid-column & grid-row--------------------------------*/
 .grid_container {
   margin: 10px auto;
   padding: 3px;
   border: 2px solid darkgreen;
   width: 60%;
   height: 300px;
   display: grid;
   grid-template-columns: auto auto auto;
   grid-gap: 10px;
 }
 .grid_container div {
   background-color: palegreen;
   border: 2px solid darkgreen;
   border-radius: 5px;
   font-size: 1.5em;
   text-align: center;
 }
 #div_1 { grid-column: 1 / 4; }
 #div_2 { grid-row: 2 / 4; }

 /* Grid Example 26: grid-area----------------------------------------------*/
 .grid_container_2 {
   margin: 10px auto;
   padding: 3px;
   border: 2px solid darkgreen;
   width: 60%;
   height: 300px;
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-gap: 10px;
 }
 .grid_container_2 div {
   background-color: palegreen;
   border: 2px solid darkgreen;
   border-radius: 5px;
   font-size: 1.5em;
   text-align: center;
 }
 #area { grid-area: 1 / 2 / 3 / 4; }
