body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 100%;
  color: black;
  background-color: palegreen;
  margin: 0 auto;
  padding: 0;
}
header { margin: 0 auto;
}
hr {
  border-color: palegreen;
  margin-top: 15px;
}
/* Fonts-------------------------------------- */
/* 1em = 16px (approx.) */
h1 {
  font-size: 4em;
  color: darkgreen;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
p {
  font-size: 2em;
  color: darkgreen;
  margin: 20px auto;
  text-align: center;
}
section h2 {
  font-size: 1.5em;
  text-decoration: underline;
  margin: 10px 0px 0px 15px;
  padding: 2px;
  text-align: center;
}
section p {
  font-size: 1.5em;
  color: black;
  margin: 10px 0px 0px 10px;
  padding: 2px;
  text-align: center;
}
section pre {
  margin: 0px;
  padding: 0px;
}
code { font-size: 1.5em }



/* Navigation------------------------------------ */

nav {
  position: relative;
  background-color: linen;
  width: 85%;
  margin: 0 auto;
}
.dropdownP {
  cursor: pointer;
  margin: 0 auto;
  background-color: linen;
}
.dropdown_Content {
  position: absolute;
  display: none;
  background-color: linen;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}
.dropdown_Content a {
  display: block;
  font-size: 2em;
  color: darkgreen;
  text-align: center;
  text-decoration: none;
  padding: 3px 0px;
}
nav:hover .dropdown_Content {
  display: block;
}
 a:hover{
  background: darkgreen;
  color: white;
  border: 2px solid black;
}


/* Home Page------------------------------------- */

#home_page_image_container {
  font-size: 1.5em;
  width: 60vw;
  height: 60vh;
  margin: 0 auto;
  background-color: linen;
  border: 2px solid white;
  overflow-x: scroll;
}
#home_page_image_container:hover {
  border: 2px solid black;
  cursor: pointer;
}
#home_page_image_container h2 {
  font-size: 1.5em;
  text-decoration: underline;
  margin: 5px 0px 25px 0px;
  padding: 2px;
  text-align: center;
}
#home_page_image_container h3 {
  font-size: 1.25em;
  margin: 10px auto;
  padding: 2px;
  text-align: left;
}
.imageHomePage{
  position: relative;
  width: 60%;
  height: 60%;
  margin: 10px auto;
  border: 2px solid black;
}
img {
  position: absolute;
  /* width: 100%;
  height: 100%; */
}
/* Code Examples Container------------------------ */

.content_container {
  width: 85%;
  margin: 0 auto 10px;
  background-color: linen;
  border: 2px solid white;
  border-radius: 5px;
}
.content_container:hover {
  border: 2px solid black;
}

.pre_block {
  display: flex;
  justify-content: center;
}

pre, code {
  white-space: pre-line;
}

.change_button {
  position: relative;
  left: 33.33%;
  width: 33.34%;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: darkgreen;
  background-color: palegreen;
}
.change_button:hover {
  background-color: darkgreen;
  color: white;
  cursor: pointer;
}

.sample_Content {
  margin: 0 auto 10PX;
  padding: 4px;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  color: black;
  text-align: center;
}
