/* Original css for the reset function.-------------------------------------- */

.position_Original {
  margin: 10px auto;
  border: 2px solid darkgreen;
  width: 60%;
  height: 300px;
}
.position_Original div {
  margin: 0px;
  width: 33.33%;
  height: 96px;
  background-color: palegreen;
  border: 2px solid darkgreen;
  border-radius: 5px;
}
/* CSS Helper Class - This is to maintain the above properties that should not to be changed.
This avoids repeating the properties within the individual change classes. ------*/

.positionChangeHelper {
  margin: 10px auto;
  border: 2px solid darkgreen;
  width: 60%;
  height: 300px;
}
.positionChangeHelper div {
  margin: 0px;
  width: 33.33%;
  height: 96px;
  background-color: palegreen;
  border: 2px solid darkgreen;
  border-radius: 5px;
}

/* CSS Change Classes. -------------------------------------------------------*/

/* The Position Property Example 1: static----*/
.positionChange_1 div {
  position: static;
  top: 50px;
  left: 100px;
 }
/* The Position Property Example 2: relative----*/
.positionChange_2 div {
  position: relative;
  top: 50px;
  left: 100px;
 }
/* The Position Property Example 3: relative----*/
.positionChange_3 div {
  position: relative;
  top: 50%;
  left: 50%;
 }
/* The Position Property Example 4: relative----*/
.positionChange_4 div {
  position: relative;
  top: -20px;
  left: -50px;
 }
 /* The Position Property Example 5: fixed----*/
 .positionChange_5 div {
   position: fixed;
   top: 0px;
   left: 20%;
   background-color: red;
  }
 /* Adjusted css for the reset function, applicable for the following examples.--------------- */

 .position_Original_2 {
   margin: 10px auto;
   border: 2px solid darkgreen;
   width: 60%;
   height: 300px;
   overflow-x: scroll;
   position: relative;
 }
 .position_Original_2 div {
   margin: 0px;
   width: 33.33%;
   height: 96px;
   background-color: palegreen;
   border: 2px solid darkgreen;
   border-radius: 5px;
 }
 /* 2nd CSS Helper Class - This is to maintain the above properties that should not to be changed.
 This avoids repeating the properties within the individual change classes. ------*/

 .positionChangeHelper_2 {
   margin: 10px auto;
   border: 2px solid darkgreen;
   width: 60%;
   height: 300px;
   overflow-x: scroll;
   position: relative;
 }
 .positionChangeHelper_2 div {
   margin: 0px;
   width: 33.33%;
   height: 96px;
   background-color: palegreen;
   border: 2px solid darkgreen;
   border-radius: 5px;
 }

 /* CSS Change Classes. -------------------------------------------------------*/

/* The Position Property Example 6: absolute----*/
.positionChange_6 div {
  position: absolute;
  top: 0px;
  left: 20%;
 }
/* The Position Property Example 7: sticky----*/
.positionChange_7 div {
  position: sticky;
  top: 0px;
  left: 20%;
 }
/* The Position Property Example 8: sticky----*/
.positionChange_8 div {
  position: sticky;
  top: 0px;
  left: 20%;
 }
