/* Original css for the reset function.-------------------------------------- */

.selector_Original {
  margin: 10px auto 10px;
  border: 2px solid darkgreen;
  width: 60%;
  height: 115px;
}
.selector_Original p {
  margin: 0 auto 5px;
  padding: 2px;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  color: black;
  text-align: center;
}
/* CSS Helper Class - This is to maintain the above properties that should not to be changed.
This avoids repeating the properties within the individual change classes. ------*/

.selectorChangeHelper {
  margin: 10px auto 10px;
  border: 2px solid darkgreen;
  width: 60%;
  height: 115px;
}
.selectorChangeHelper p {
  margin: 0 auto 5px;
  padding: 2px;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  color: black;
  text-align: center;
}
/* CSS Change Classes. -------------------------------------------------------*/

/* Selectors Example 1: Combinators - Descendant (space)*/
.selectorChange_1 p {
  color: tomato;
  font-weight: bold;
  font-style: italic;
 }
/* Selectors Example 2: Combinators - Descendant (space)*/
.selectorChange_2 p span {
  color: tomato;
  font-weight: bold;
  font-style: italic;
 }
