/* Original css for the reset function.-------------------------------------- */

.text_Original {
  margin: 0 auto 10PX;
  padding: 4px;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  color: black;
  text-align: center;
}

/* CSS Helper Class - This is to maintain the above properties that should not to be changed.
This avoids repeating the properties within the individual change classes. ------*/

.textChangeHelper {
  margin: 0 auto 10PX;
  padding: 4px;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  color: black;
  text-align: center;
}
/* CSS Change Classes. --------------------------------------------------------*/

/* Text Example 1: font-size */
.textChange_1 {
  font-size: 4em;
 }
/* Text Example 2: font-weight */
.textChange_2 {
  font-weight: bold;
}
/* Text Example 3: color */
.textChange_3 {
  color: tomato;
}
/* Text Example 4: text-align */
.textChange_4 {
  text-align: left;
}
/* Text Example 5: text-indent */
.textChange_5 {
  text-indent: 60px;
}
/* Text Example 6: font-family */
.textChange_6 {
  /* font-family: "Lucida Grande", Tahoma; */
  font-family: monospace;
}
/* Text Example 7: font-style */
.textChange_7 {
  font-style: italic;
}
/* Text Example 8: text-transform */
.textChange_8 {
  text-transform: uppercase;
}
/* Text Example 9: text-decoration */
.textChange_9 {
  text-decoration: line-through;
}
/* Text Example 10: text-shadow */
.textChange_10 {
  text-shadow: 3px 5px;
}
/* Text Example 11: text-shadow */
.textChange_11 {
  text-shadow: 3px 5px tomato;
}
/* Text Example 12: text-shadow */
.textChange_12 {
  text-shadow: 3px 5px 5px tomato;
}
/* Text Example 13: letter-spacing */
.textChange_13 {
  letter-spacing: 4px;
}
/* Text Example 14: word-spacing */
.textChange_14 {
  word-spacing: 10px;
}
/* Text Example 15: word-spacing */
.textChange_15 {
  word-spacing: -10px;
}
/* Text Example 16: white-space */
.textChange_16 {
  white-space: nowrap;
}

/* Code for the resized content element; applicable to examples 17 and above.----- */

.text_Original_2 {
  border: 2px solid darkgreen;
  width: 60%;
  height: 80px;
  margin: 5px auto 10PX;
  padding: 4px;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  color: black;
  text-align: center;
  overflow: hidden;
}
/* CSS Helper Class - This is to maintain the above properties that should not to be changed.
This avoids repeating the properties within the individual change classes. ------*/

.textChangeHelper_2 {
  border: 2px solid darkgreen;
  width: 60%;
  height: 80px;
  margin: 5px auto 10PX;
  padding: 4px;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  color: black;
  text-align: center;
  overflow: hidden;
}
/* CSS Change Classes. ------------------------------------------------------*/

/* Text Example 17: overflow */
.textChange_17 {
  overflow: visible;
}
/* Text Example 18: overflow-x */
.textChange_18 {
  overflow: auto;
  overflow-x: scroll;
}
/* Text Example 19: text-justify */
.textChange_19 {
  text-align: justify;
  text-justify: inter-word;
}
/* Text Example 20: word-wrap */
.textChange_20 {
  word-wrap: break-word;
}
/* Text Example 21: writing-mode */
.textChange_21 {
  height: 200px;
  writing-mode: vertical-rl;
}
/* Text Example 22: writing-mode */
.textChange_22 {
  height: 200px;
  writing-mode: vertical-lr;
}
