/* Text Example 1: font-size */
.textChange_1 {
  font-size: 4em;
 }
/* Text Example 2: font-weight */
.textChange_2 {
  font-weight: bold;
}
/* Text Example 3: color */
.textChange_3 {
  color: tomato;
}
/* Text Example 4: text-align */
.textChange_4 {
  text-align: left;
}
